In [1]:
import pandas as pd
import mysql.connector
from db.db import parameter

In [2]:
db_connection = mysql.connector.connect(**parameter, ssl_disabled=True)

In [3]:
def load_sql_file(file) -> str:
    with open(file, "r") as fin:
        return fin.read()

In [4]:
query = load_sql_file("/home/work/mysql_server/command/mysql.sql")

In [5]:
df = pd.read_sql(query, db_connection)

/tmp/ipykernel_1100662/3294841720.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, db_connection)

In [6]:
df["combination_count"] = 1

In [7]:
df.head()

,killchain,tactic,technique,collection_layer,datasource,url,combination_count
0,Reconnaissance,Reconnaissance,Gather Victim Host Information: Software,OSINT,Internet Scan: Response Content,https://attack.mitre.org/techniques/T1592/002,1
1,Reconnaissance,Reconnaissance,Gather Victim Identity Information,Host,Network Traffic: Network Traffic Content,https://attack.mitre.org/techniques/T1589,1
2,Reconnaissance,Reconnaissance,Gather Victim Identity Information,Network,Network Traffic: Network Traffic Content,https://attack.mitre.org/techniques/T1589,1
3,Reconnaissance,Reconnaissance,Gather Victim Identity Information: Email Addr...,Host,Network Traffic: Network Traffic Content,https://attack.mitre.org/techniques/T1589/002,1
4,Reconnaissance,Reconnaissance,Gather Victim Identity Information: Email Addr...,Network,Network Traffic: Network Traffic Content,https://attack.mitre.org/techniques/T1589/002,1

In [8]:
pivot_table = df.pivot_table(
        index=['collection_layer', 'datasource'],
        columns=["tactic", 'technique'],
        values='combination_count',
        aggfunc='max',
        fill_value=0
    )

In [9]:
pivot_table.to_excel("to_excel2.xlsx")